/* @media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
} */
/* @media (prefers-color-scheme: light) { */
    :root {
        color-scheme: light;
    }
/* } */
body {
    width: 95%;
    padding: 10px;
    font-size: 150%;
    font-family: system-ui;
    text-align: center;
}

